.btn-toolbar {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px dotted #ccc;
    margin-bottom: 1em;
}
.errors-container {
    border-top: 1px dotted #ccc;
    padding-top: 1em;
}

.errors {
    font-family: Consolas, "Courier New", Courier, monospace;
}